body {
/*    background-image: url(Fond_Ath%C3%A8nes.png);*/
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 0;
    font-family: 'Cutive Mono', monospace;
/*    overflow: hidden;*/
}

header {
    color: black;
    font-family: 'Cutive Mono', monospace;
    padding: 40px;
    padding-left: 100px;
}

p {
    font-size: 6vh;
    text-align: center;
    line-height: 1vh;
    padding-top: 25vh;
}

h1 {
     text-decoration: none;
        color: rgba(200, 200, 200, 50);
}

.mainTitle {
    background-size: cover;
    font-size: 5vh;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(200, 200, 200, 50);
    text-align: center;
    /*    vertical-align: middle;*/
    padding-top: 3vh;
    line-height: 6vh;
}

.viewport {
     margin-top: 30vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
    width: 100%;
    height: 100%;
}

.video {
    background: rgba(172, 172, 172, 0.41);
    position: absolute;
    bottom: -80vh;
    height: 80vh;
    width: 100%;
}

.video iframe {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
}

.presentation{
    background-size: cover;
    background-image: url(Fond_Ath%C3%A8nes.png);
    position: absolute;
    bottom: -180vh;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.texte {
    padding: 15% 25%;
}






.close {
    display: block;
    background: #373737 url(l'image de retour) center center no-repeat;
    height: 47px;
    width: 47px;
    position: absolute;
    top: 0;
    right: -47px;
}



a {
    text-decoration: none;
    color: black;
}

t {
 text-decoration: none;
        color: rgba(200, 200, 200, 50);
}







