.menu_btn {
    position: absolute;
    background: url(menu_bg.png) center center no-repeat;
    display: block;
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
    z-index: 10;
}

#menu {
    height: 150px;
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 135px;
    left: -240px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    position: relative;
}

#menu ul li {

    padding-left: 40px;

    position: relative;
}

#menu ul li.active {
    opacity: 0.7;
}

#menu ul li:hover {
    opacity: 0.5;
}

#menu ul li a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 12px;
}



.navigation a,
.navigation span {
    line-height: 20px;
    display: block;
    padding: 0px 0px;
    color: #fff;
    text-decoration: none;
    background: url("menu-item.png") left bottom no-repeat; //../
}

.navigation .toggleSubMenu a,
.navigation .toggleSubMenu span {
    background-image: url("menu-item-deroule.png");
}

.navigation .open a,
.navigation .open span {
    line-height: 20px;
    background-image: url("menu-item-enroule.png");
    position: relative;
}

.navigation .subMenu {
    font-size: .6em;
    width: 100px;
    padding: 0px 0px;
    position: relative;
}

.navigation ul.subMenu a {
    background: none;
    padding: 0px 0px;
    position: relative;
    line-height: 20px;

}

.navigation a,
.navigation span {
    line-height: 20px;
    display: block;
    padding: 0px 0px;
    color: #fff;
    text-decoration: none;
    background: url("menu-item.png") left bottom no-repeat;
}

.navigation .toggleSubSubMenu a,
.navigation .toggleSubSubMenu span {
    background-image: url("menu-item-deroule.png");
}

.navigation .open a,
.navigation .open span {
    line-height: 20px;
    background-image: url("menu-item-enroule.png");
    position: relative;
}

.navigation .subsubMenu {
    font-size: .7em;
    font-size: .7em;
    width: 100px;
    padding: 0px 0px;
    position: relative;
}

.navigation ul.subsubMenu a {
    background: none;
    padding: 0px 0px;
    position: relative;
    line-height: 20px;

}
