/* Style pour tout les objets texte */
text {
  font-family: sans-serif;
  font-variant-caps: all-small-caps;
}

.arc-indic{
	fill:white;

}

.text-indic{
    fill:#000000;
}

/* Arc délimiteur */
.spacer {
  fill: #2f2f2f;
}

/* Arc sous-groupe */
.part {
  fill: #efefef;

}

/* Texte sous-groupe */
.subgroup-text,
/* Texte groupe */
.group-text {
  fill: #a7a2a2;
}

/* Arc invisible */
.invisible {
  stroke: none;
  fill: none;
}

/* Flèche de groupe */
.arrow-arc,
.line {
  fill: none;
  stroke: #414141;
}

/*Couleurs des valeurs extérieures*/
